<?xml version="1.0"?>
<robot name="table">
  <link name="table">
    <visual>
      <origin xyz="0 0 0.73"/>
      <geometry><box size="1.2 0.8 0.04"/></geometry>
      <material name="wood"><color rgba="0.6 0.45 0.3 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0.73"/>
      <geometry><box size="1.2 0.8 0.04"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.55 0.35 0.355"/>
      <geometry><box size="0.06 0.06 0.71"/></geometry>
    </visual>
    <visual>
      <origin xyz="-0.55 0.35 0.355"/>
      <geometry><box size="0.06 0.06 0.71"/></geometry>
    </visual>
    <visual>
      <origin xyz="0.55 -0.35 0.355"/>
      <geometry><box size="0.06 0.06 0.71"/></geometry>
    </visual>
    <visual>
      <origin xyz="-0.55 -0.35 0.355"/>
      <geometry><box size="0.06 0.06 0.71"/></geometry>
    </visual>
    <collision>
      <origin xyz="0.55 0.35 0.355"/>
      <geometry><box size="0.06 0.06 0.71"/></geometry>
    </collision>
    <collision>
      <origin xyz="-0.55 0.35 0.355"/>
      <geometry><box size="0.06 0.06 0.71"/></geometry>
    </collision>
    <collision>
      <origin xyz="0.55 -0.35 0.355"/>
      <geometry><box size="0.06 0.06 0.71"/></geometry>
    </collision>
    <collision>
      <origin xyz="-0.55 -0.35 0.355"/>
      <geometry><box size="0.06 0.06 0.71"/></geometry>
    </collision>
    <inertial>
      <mass value="20"/>
      <inertia ixx="1.5" ixy="0" ixz="0" iyy="2.5" iyz="0" izz="3.5"/>
    </inertial>
  </link>
</robot>
