<?xml version="1.0"?> 
<robot name="simpleplane">
    <!-- Colors --> 
    <material name="floorcolor"> 
        <color rgba="0.824 0.706 0.549 1.0"/>
    </material>

    <!-- Plane -->
    <link name="base">
        <visual> 
            <geometry> 
                <box size="20 20 0.01"/>
                <origin rpy="0 0 0" xyz="-10 -10 -0.005"/>
            </geometry>
            <material name="floorcolor"/>
        </visual>
        <collision> 
             <geometry> 
                <box size="20 20 0.01"/>
                <origin rpy="0 0 0" xyz="-10 -10 -0.005"/>
            </geometry>
        </collision> 
        <inertial> 
            <mass value="0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial> 
        <contact> 
            <lateral_friction value="4"/>
        </contact>
    </link> 
</robot>
